:root {
  --dark-color- : rgb(4, 13, 19, 0.8);
  --light-color- : rgba(228, 233, 236, 0.8);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--light-color-);
  color: var(--dark-color-);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: var(--dark-color-);
  border-left: 1px solid var(--dark-color-);
  padding: 10px;
}

.jumbotron {
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: transparent;
  color: var(--dark-color-);
  border-radius: 0;
  border-bottom: 10px solid var(--dark-color-);
  padding-bottom: 20px;
}

.description{
  white-space: pre-wrap;
  font-weight: bold;
}

#currentDay {
  font-size: 30px;
  margin-top: 30px;
}

.time-block{
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--light-color-);
}

.hour {
  background-color: var(--light-color-);
  color: var(--dark-color-);
  border-top: 1px dashed var(--dark-color-);
  line-height: 80px;
  padding: 0px;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: rgba(140, 201, 164, 0.7);
}

.future {
  background-color: rgba(145, 171, 196, 0.7);
}

textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
  background-color: var(--light-color-);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(95, 161, 202);
  color: var(--light-color-);
  outline: none !important;
}

i {
  font-size: 30px;
}

.saveBtn:hover i{
  font-size: 40px;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .description {
    font-size: 1.5rem;
  }

  #currentDay {
    font-size: 2.3rem;
  }

  .hour, textarea {
    font-size: 1.5rem;
  }

  i {
    font-size: 25px;
  }

  .saveBtn:hover i{
    font-size: 30px;
    transition: all .2s ease-in-out;
  }
}

@media screen and (max-width: 767px) {

  .headline {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  #currentDay {
    font-size: 1.5rem;
  }

  .row {
    height: 60px;
  }

  .hour {
    line-height: 60px;
  }

  .hour, textarea {
    font-size: 1rem;
  }

  i {
    font-size: 25px;
  }

  .saveBtn:hover i{
    font-size: 30px;
    transition: all .2s ease-in-out;
  }
}


